# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.env/
.venv/

# Conda
.conda/
conda-meta/

# Flask
instance/
*.db
*.sqlite3

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env